body{ 
   


    
    background-color: rgb(223, 236, 253);

    color: rgb(231, 144, 38);
    img {
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%; };
    h1 {
        text-align: center;
      }
      div {
        width: auto;
        border: 2px solid rgb(1, 5, 12);
        padding: 10px;
        margin: 5px;
      }
      
</div> 
}