body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light background for the body */
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: auto;
    width: 90%; /* Responsive width */
    max-width: 850px; /* Maximum width */
}

.main h2 {
    color: #FFA500; /* Title color */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f17908;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s; /* Smooth transition */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #FFA500; /* Highlight color on focus */
    outline: none; /* Remove default outline */
}

button[type="submit"] {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #d66e28;
    color: white;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition */
}

button[type="submit"]:hover {
    background-color: #c65e20; /* Darker on hover */
}

.styled-fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.styled-legend {
    font-weight: bold;
    font-size: 1.2em;
    color: #ef6c00;
    margin-bottom: 10px;
}
