
.maincontainer{ 

   margin-left: 10px;
   margin-right:10px;


}


.button {

   margin: 5px;
   padding: 0.5;
   border: 0.5px;
   border-radius: 12px;
   width: 80px;
   height: 30px;
   text-align: center;
   font-family: verdana, arial;
   font-size: 12px;

}

.leftcontainer {
   background-color: rgb(196, 202, 218);
   display: flex;
   padding:0%;
   margin:0%;
   flex-direction: row;
   border-radius: 0px;
   width: 80%;
   height: 100%;
   text-align: center;
   
}
.img {
   width:250px;
   margin:auto;
   align-items:center;
}
