body, html {
   margin: 0;
   padding: 0;
   height: 100%;
}

.button {
   margin: 5px;
   padding: 0.5em;
   border: 1px solid #ccc;
   border-radius: 12px;
   width: 80px;
   height: 30px;
   text-align: center;
   font-family: verdana, arial;
   font-size: 12px;

}

.maincontainer {
   display: flex;
   height: 100vh;
}

.leftcontainer{
   background-color: #f0f0f0;
   width: 70%;
   padding: 20px;
   overflow-y: auto;
}

.rightcontainer {
   background-color: #e0e0ff; /* Light blue color for the right container */
   width: 30%;
   padding: 20px;
}


.img {
   width: 250px;
}