
.maincontainer{ 
    
width: auto;
height: auto;
   margin:5px;
  padding:5px;



}
.button {

   margin: 5px;
   padding: 0.5;
   border: 0.5px;
   border-radius: 12px;
   width: 80px;
   height: 30px;
   text-align: center;
   font-family: verdana, arial;
   font-size: 12px;
}
.leftcontainer {
   background-color: rgb(196, 202, 218);
   display: flex;
   padding:0%;
   margin:0%;
   flex-direction: row;
   border-radius: 0px;
   width: 1100px;
   height: 100%;
   text-align: center;
   
}
.img {
   width:250px;
   margin:auto;
   align-items:center;
}
.rightcontainer{

 background-color: rgb(186, 210, 233);
 justify-content: center;
 border:0px;
}
.button1{

width: auto;
height: auto;
border:0px;
box-align:center;
}
.button2{
   background-color:rgb(237, 244, 247);
   width: 80px;
   height: 30px;
   border:0;
   border-radius:12px;
   margin:10px;
text-align: center;
   font-family: verdana, arial;
   font-size: 12px;
}
.btn{
border:0px;
border-radius:4px;
}
.nav-btn{

border:0px;
border-radius:4px;

}